// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$image-article-padding: 16px;

.image-article {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: $image-article-padding;
  padding-top: 75%;

  &::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 5%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }

  .image-article-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .image-article-title {
    color: $primary;
    font-family: Chivo, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
  }

  .image-article-bold-title {
    position: absolute;
    top: $image-article-padding;
    left: $image-article-padding;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    border-bottom: 3px solid $yellow;
    margin: 0;
  }

  .image-article-secondary-title {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: Chivo, sans-serif;
  }

  .image-article-description {
    margin: 0;
  }

  &.small {
    &::after {
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.mini-article {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  a { color: $primary; }

  .like-icon img {
    width: 24px;
    height: 24px;
  }

  .mini-article-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 100%;
  }

  .mini-article-content {
    flex: 1 0 50%;
    height: 50%;
    padding: 10px;
    background: #fff;
    color: #000;
    font-family: Chivo, Arial, sans-serif;
    padding-bottom: 30px;
  }

  .mini-article-title {
    margin: 10px 0;
    color: $primary;
    font-size: 18px;
    line-height: 30px;

    a {
      padding: 4px 0;
      border-bottom: 2px solid $primary;
    }
  }

  .mini-article-secondary-title {
    font-size: 16px;
    margin: 0;
  }
}

@media (min-width: $media-md) {
  .grid-item:nth-child(even) .mini-article {
    .mini-article-image { order: 0; }
    .mini-article-content { order: 1; }
  }

  .grid-item:nth-child(odd) .mini-article {
    .mini-article-image { order: 1; }
    .mini-article-content { order: 0; }
  }
}
