* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $secondary;
  &:hover, &:active {
    color: $primary;
  }
}

body {
  margin: 0;
  background: $background;
  font-family: Lato;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.page-container {
  flex: 1;
  padding: 20px 0;
}

img {
  width: 100%;
}

.toastify {
  font-family: Lato;

  &.alert {
    background: $red;
  }

  &.notice {
    background: $green;
  }
}

.field-row {
  width: 100%;
  label, input { display: block; }
  label {
    margin-bottom: 6px;
  }
  margin-bottom: 16px;
}

.title {
  font-size: 42px;
  margin: 6px;
}

.form-errors {
  color: $primary;
}

input, textarea, select {
  width: 100%;
  border: 1px solid $secondary;
  background: $secondary;
  padding: 8px 12px;
  color: #FFF;
  box-shadow: inset 0px 0px 0 1px $primary;
  transition: box-shadow 100ms linear;
  border: none;
  &:focus {
    box-shadow: inset 0px 0px 0 3px $primary;
    outline: 0;
  }
}

textarea {
  resize: vertical;
  font-family: Lato;
}

input[type="submit"], button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  background: $primary;
  border: none;
  color: #FFF;
  padding: 12px 26px;
  cursor: pointer;
  transition: box-shadow 200ms linear;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow: hidden;
  &:disabled, .disabled {
    background: $secondary;
    cursor: not-allowed;
  }

  &:after {
    transition: right 150ms linear, top 150ms linear;
    content: '';
    width: 70px;
    height: 100%;
    position: absolute;
    right: -30px;
    top: 15px;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(-45deg);
  }

  &:hover, &:focus {
    outline: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &:after{
      right: -70px;
      top: 50px;
    }
  }
}
