
$primary: #fa670c;
$secondary: #847f7b;
$red: #e8072f;
$yellow: #fefe00;
$green: #05ac50;

$background: #4e443e;

$header-height: 72px;
$footer-height: 54px;

$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 600px;
